.nametab h4, .nametab a {
    display: inline-block;
}

.nametab a {
    float: right;
    margin-top: 20px;
    font-size: 16px;
}

td a  {
    font-size: 18px;
    padding: 5px;
    margin-right: 5px;
}

td tr {
    text-align: center;
}

.msgErr {
    color: red;
    margin-right: 20px;
    margin-top: 8px;
}

.delBtn {
    background-color: red !important;
    margin-right: 10px;
}