<div class="main" ng-controller="EmployeeAPCtrl" ng-init="loadEmployeeAP()">
    <div id="responsive-table">
        <div class="nametab">
            <h4 class="header">List Customer</h4>
            <a ui-sref="admin.userdetail">+ New Customer</a>
        </div>
        <div class="row">
            <div class="col s12">
                <table class="responsive-table">
                    <thead>
                        <tr>
                            <th data-field="id">ID</th>
                            <th data-field="name">Full Name</th>
                            <th data-field="price">Email</th>
                            <th data-field="total">Phone Number</th>
                            <th data-field="total">Gender</th>
                            <th data-field="status">Position</th>
                            <th data-field="status">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in AllUserAp">
                            <td>{{ user.Id }}</td>
                            <td>{{ user.FullName }}</td>
                            <td>{{ user.Email }}</td>
                            <td>{{ user.PhoneNumber }}</td>
                            <td ng-if=" user.Gender == 1">Boy</td>
                            <td ng-if=" user.Gender != 1">Girl</td>
                            <td>{{AllRole[user.Role-1].name}}</td>
                            <td>
                                <a class='btn-info' ui-sref="admin.userdetail({id:{{user.Id}}})">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                                <!--<a class="btn-danger" ui-sref="admin.userdetail({id:{{user.Id}}})">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>-->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>