<div class="main"  ng-controller="MainCtrl" ng-init="loadLayout()">
    <div class="header-homepage">
        <a  ui-sref="home.index">
            <div class="logo-header">
                <img src="../Content/Admin/images/logo/logo1.png"/>
            </div>
        </a>
        <div class="btn-header">
            <button data-toggle="modal" ng-hide="showBtnLog" ng-click="displayLogin = true" data-target="#loginmodal" class="btn btn-login-head">LOGIN</button>
        </div>
        <div class="loginsucess" ng-hide="showInfoLog">
            <div class="dropdown">
                <div class="nameacc dropdown-toggle" data-toggle="dropdown">
                    User : <span class="">{{dispName}}</span>
                    <span class="caret"></span>
                </div>
                <ul class="dropdown-menu">
                    <li><a ui-sref="home.userprofile({id:item.Id})">Account</a></li>
                    <li><a ui-sref="home.history">Transaction history</a></li>
                    <li><a ng-click="Logout()" href=''>Logout</a></li>
                </ul>
            </div>
            <div class="position">
                <div ng-if="dispRole == 1">Position : <span class="positionname">Customer</span></div>
            </div>
            <div class="position">
                <div ng-if="dispRole != 1">Position : <span class="positionname">Admin</span></div>
            </div>
        </div>
        <div class="aboutus">
            <a ui-sref="home.aboutus">AboutUs</a> 
            <a ui-sref="home.product">|&nbsp;Services</a>
        </div>
    </div>
    <div class="card-panel">
        <div ui-view></div>
    </div>
  
    <div class="footer-homepage">
        <!--<div class="ft-text">
            Copyright 3TSD © 2019
        </div>-->
        <div class="ft-logo">
            <img src="../Content/Admin/images/logo/logo3.png" alt="Alternate Text" />
        </div>
    </div>
    <div id="loginmodal" class="modal " role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="main-modal-log">
                    <div class="logo-modal-log">
                        <img src="../Content/Admin/images/logo/logo3.png" alt="Alternate Text" />
                    </div>
                    <div class="formm" ng-hide="displayLogin">
                        <form name="userForm" ng-submit="register()" class="form form-res" novalidate>
                            <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                                <input class="form-control" type="number" name="nregphone" value="" placeholder="Phone Number" ng-model='regphone' required ng-minlength="9" />
                                <span ng-show="userForm.nregphone.$invalid && !userForm.nregphone.$pristine" class="alert alert-danger help-block">Number Phone must be greater than 9 characters</span>
                                <input class="form-control" type="text" name="nregname" value="" placeholder="FullName" ng-model='regfullname' required ng-minlength="6" />
                                <span ng-show="userForm.nregname.$invalid && !userForm.nregname.$pristine" class="alert alert-danger help-block">FullName must be greater than 5 characters</span>
                                <input class="form-control" type="email" name="nregemail" value="" placeholder="Email" ng-model='regemail' required ng-minlength="6" />
                                <span ng-show="userForm.nregemail.$invalid && !userForm.nregemail.$pristine" class="alert alert-danger help-block">Enter a valid email.</span>
                                <input class="form-control" type="password" name="nregpass" value="" placeholder="Password" ng-model='regpass' required ng-minlength="6" />
                                <span ng-show="userForm.nregpass.$invalid && !userForm.nregpass.$pristine" class="alert alert-danger help-block">Password must be greater than 5 characters</span>
                                <button ng-disabled="userForm.$invalid" type="submit" class="form-control btn-res-modal">Hoàn Tất</button>
                            </div>
                        </form>
                        <p>Nếu đã có tài khoản vui lòng <span ng-click="displayLogin = !displayLogin" id="modaldis-res">Đăng Nhập</span> !</p>
                    </div>
                    <div class="formm" ng-hide="!displayLogin">
                        <form autocomplete="off" name="LoguserForm" ng-submit="login()" class="form form-log" novalidate>
                            <div class="form-group" ng-class="{ 'has-error' : LoguserForm.name.$invalid && !LoguserForm.name.$pristine }">
                                <input class="form-control" type="text" name="nlogphone" value="" placeholder="Số Điện Thoại" ng-model='logphone' required/>
                                <span ng-show="LoguserForm.nlogphone.$invalid && !LoguserForm.nlogphone.$pristine" class="alert alert-danger help-block">Enter Number Phone</span>
                                <input class="form-control" type="password" name="nlogpass" value="" placeholder="Mật khẩu" ng-model='logpass' required />
                                <span ng-show="LoguserForm.nlogpass.$invalid && !LoguserForm.nlogpass.$pristine" class="alert alert-danger help-block">Enter Password</span>
                                <button ng-disabled="LoguserForm.$invalid" type="submit" class="form-control btn-login-modal">Đăng Nhập</button>
                            </div>
                        </form>
                        <p>Nếu chưa có tài khoản vui lòng <span ng-click="displayLogin = !displayLogin" id="modaldis-login">Đăng Ký</span> !</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>