<div class="mainproduct" ng-controller="ProductCtrl" ng-init="loadProduct()">
    <div class="container-fluid">
        <div class="row posts">
            <div class="col-md-4" ng-repeat="dataP in dataProduct">
                <div class="panel panel-default">
                    <div class="panel-heading text-center title">{{dataP.Name}}</div>
                    <div class="panel-body">
                        <div class="panelHeight">
                            <div class="svc" ng-repeat="product in dataP.ConnectionGroups">
                                <div class="titlepost">
                                    {{product.Name}}
                                </div>
                                <div class="post" ng-repeat="products in product.Products">
                                    <span>+ {{products.ProductName}} ({{products.Description}})</span>
                                    <span ng-if="products.PpmLocal == 0.55">The call charges are like this : 55cents / minute</span>
                                    <span ng-if="products.PpmLocal == 0.75 && products.PpmMobile == 0">The call charges are like this : 75cents / minute</span>
                                    <span ng-if="products.PpmLocal == 0.70">
                                        <span>The call charges are like this :</span>
                                        <span>Local : 70cents / minute</span>
                                        <span>STD : 2.25$ / minute</span>
                                        <span>Messaging For Mobiles : 1.00$ / Minute</span>
                                    </span>
                                    <span ng-if="products.PpmLocal == 0.60 && products.PpmMobile == 2">
                                        <span>The call charges are like this :</span>
                                        <span>Local : 60cents / minute</span>
                                        <span>STD : 2.00$ / minute</span>
                                        <span>Messaging For Mobiles : 1.15$ / Minute</span>
                                    </span>
                                    <span ng-if="products.PpmLocal == 0.60 && products.PpmMobile == 1.75">
                                        <span>The call charges are like this :</span>
                                        <span>Local : 60cents / minute</span>
                                        <span>STD : 1.75$ / minute</span>
                                        <span>Messaging For Mobiles : 1.25$ / Minute</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="panel-footer">
                        <div class="text-center deposit">
                            Security Deposit: <strong>{{dataP.SecurityDeposit}}$</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="note">
                <i class="fa fa-exclamation-triangle"></i> Security Deposit: It is the charge that will be refunded back to the customer
                during the time of withdrawal or cancellation. In general it will be charged as
                follows for the type of the connection
            </div>
            <div class="note">
                <i class="fas fa-gift"></i> If 10-15 connections are taken, you will be getting a discount of 25% in the advance and as well in the security deposit. If it is between 15-25 connections, then you will avail 50% discount and for 25-50 then you can avail 75% discount and if it is above 50 you will avail 100% discount.
            </div>
            <div class="note" ng-init="getListStore()">
                <h5><i class="fas fa-store"></i> Come to our store and purchase by address:</h5>
                <p ng-repeat ="store in ListStore"> <i style="font-size: 14px;" class="fas fa-arrow-right"></i> {{store.Address}}</p>
            </div>
        </div>
    </div>
</div>