<div class="main" ng-controller="StoreAPCtrl" ng-init="loadStoreAP()">
    <div id="responsive-table">
        <div class="nametab">
            <h4 class="header">List Store</h4>
            <a ui-sref="admin.shopdetail">+ New Store</a>
        </div>
        <div class="row">
            <div class="col s12">
                <table class="responsive-table">
                    <thead>
                        <tr>
                            <th data-field="id">ID</th>
                            <th data-field="name">Name</th>
                            <th data-field="address">Address</th>
                            <th data-field="total">Status</th>
                            <th data-field="total">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="store in AllStoreAp">
                            <td>{{ store.StoreId }}</td>
                            <td>{{ store.Name }}</td>
                            <td>{{ store.Address }}</td>
                            <td ng-if=" store.Status == 1">Active</td>
                            <td ng-if=" store.Status != 1">Close</td>
                            <td>
                                <a class='btn-info' ui-sref="admin.shopdetail({id:{{store.StoreId}}})">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>