<div ng-controller="UserProfileCtrl" ng-init="loadUserProfile()">
    <div class="btn-gr">
        <button ng-click="displayInfo()" class="btn layout-info waves-effect waves-light" type="submit" name="action">
            INFOMATION
            <i class="material-icons right">info</i>
        </button>
        <button ng-click="displayUpdate()" class="btn layout-info waves-effect waves-light" type="submit" name="action">
            UPDATE INFO
            <i class="material-icons right">update</i>
        </button>
        <button ng-click="displayChangePass()" class="btn layout-info waves-effect waves-light" type="submit" name="action">
            CHANGE PASSWORD
            <i class="material-icons right">https</i>
        </button>
    </div>
    <div class="divider">
    </div>
    <div class="change-layout">
        <div class="tablee" ng-show="showTab">
            <table class="userIF" style="width:100%">
                <tr>
                    <th>ID:</th>
                    <td>{{ userIF.Id }}</td>
                </tr>
                <tr>
                    <th>FullName:</th>
                    <td>{{ userIF.FullName }}</td>
                </tr>
                <tr>
                    <th>PhoneNumber:</th>
                    <td>{{ userIF.PhoneNumber }}</td>
                </tr>
                <tr>
                    <th>Money:</th>
                    <td>{{ userIF.Money }}</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>{{ userIF.Email }}</td>
                </tr>
                <tr>
                    <th>Address:</th>
                    <td>{{ userIF.Address }}</td>
                </tr>
            </table>
        </div>
        <div class="form" ng-show="showForm">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input ng-model="fullname" placeholder="Enter your name" id="name2" type="text">
                        <label for="first_name" class="active">Full Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input ng-model="email" placeholder="john@domainname.com" id="email2" type="text">
                        <label for="email" class="active">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input ng-model="address" placeholder="Enter your address" id="address" type="text">
                        <label for="address" class="active">Address</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <select ng-if=" gender == 1 " id="gender">
                            <option selected value="1">Boy</option>
                            <option value="2">Girl</option>
                        </select>
                        <select ng-if=" gender == 2 " id="gender">
                            <option value="1">Boy</option>
                            <option selected value="2">Girl</option>
                        </select>
                        <label for="position" class="active">Gender</label>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button ng-click="Update()" class="btn layout-info waves-effect waves-light right" type="submit" name="action">
                                Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="form2" ng-show="showForm2">
            <div class="row">
                <div class="input-field col s12">
                    <input ng-model="password" placeholder="Enter your password" id="password" type="text">
                    <label for="password" class="active">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input ng-model="newpassword" placeholder="Enter your new password" id="newpassword" type="text">
                    <label for="newpassword" class="active">New Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button ng-click="UpdatePass()" class="btn layout-info waves-effect waves-light right" type="submit" name="action">
                        Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>