<div class="main" ng-controller="UserdetailAPCtrl" ng-init="loadUserdetailAP()">
    <h4 class="header2"></h4>
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input ng-model="fullname" placeholder="Enter your name" id="name2" type="text">
                    <label for="first_name" class="active">Full Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input ng-model="email" placeholder="john@domainname.com" id="email2" type="text">
                    <label for="email" class="active">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input ng-model="phone" placeholder="Enter your phone number" id="phone" type="text">
                    <label for="phone" class="active">Phone Number</label>
                </div>
            </div>
            <div ng-hide="inpAdr" class="row">
                <div class="input-field col s12">
                    <input ng-model="address" placeholder="Enter your address" id="address" type="text">
                    <label for="address" class="active">Address</label>
                </div>
            </div>
            <div ng-hide="inpPass" class="row">
                <div class="input-field col s12">
                    <input ng-model="password" placeholder="Enter your password" id="password" type="text">
                    <label for="password" class="active">Password</label>
                </div>
            </div>
            <div class="row">
                <div ng-hide="inpGen" class="input-field col s12">
                    <select ng-if=" gender == 1 " id="gender">
                        <option selected value="1">Boy</option>
                        <option value="2">Girl</option>
                    </select>
                    <select ng-if=" gender == 2 " id="gender">
                        <option value="1">Boy</option>
                        <option selected value="2">Girl</option>
                    </select>
                    <label for="position" class="active">Gender</label>
                </div>
                <div class="row" ng-hide="btnUpdate">
                    <div class="input-field col s12">
                        <button ng-click="Update()" class="btn waves-effect waves-light right" type="submit" name="action">
                            Submit
                            <i class="material-icons right">send</i>
                        </button>
                        <button ng-click="Delete()" class="btn delBtn waves-effect waves-light right" type="submit" name="action">
                            Remove
                            <i class="material-icons right">delete_forever</i>
                        </button>
                    </div>
                </div>
                <div class="row" ng-hide="btnAdd">
                    <div class="input-field col s12">

                        <button ng-click="Add()" class="btn waves-effect waves-light right" type="submit" name="action">
                            Submit
                            <i class="material-icons right">send</i>
                        </button>
                        <span ng-show="msgErr" class="msgErr right">* Please enter full infomation</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>