* {
    font-family: 'Helvetica Neue';
}

.ng-scope {
    background-color: #fff !important;
    height: 100%;
}

.header-homepage {
    background: linear-gradient(to right, #038ad1 0%, #25c4da 100%);
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.logo-header img {
    max-height: 60px !important;
}

.logo-header {
    margin: 10px 10px 10px 50px;
    display: inline-block;
}

.btn-header {
    display: inline-block;
    float: right;
    margin: 20px 50px 10px 20px;
}

.btn-header button {
    width: 130px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #eaeaea;
}

    .btn-header .btn-login-head {
        color: #074cff;
    }

    .btn-header .btn-res-head {
        background-color: #074cff;
        color: #fff;
    }

.footer-homepage {
    color: #909090;
    height: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.ft-text {
    display: inline-block;
}

.ft-logo {
    float: right;
    display: inline-block;
}

.ft-logo img {
    width: 40px;
}

.logo-modal-log,
.logo-modal-res {
    text-align: center;
    margin-top: 20px;
}

.logo-modal-log img, .logo-modal-res img {
    width: 80px;
}

.main-modal-log .formm, .main-modal-res .formm {
    padding: 0 100px 0 100px;
}

.form-log input, .form-res input {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
}

.btn-login-modal, .btn-res-modal {
    margin-bottom: 15px;
    color: #fff;
    background: linear-gradient(to right, #038ad1 0%, #25c4da 100%);
}

.formm p {
    margin-bottom: 40px;
}

.formm span {
    color: #fff;
    background: linear-gradient(to right, #038ad1 0%, #25c4da 100%);
}

.formm span:hover {
    cursor: pointer;
}

/*.modal-content {
    overflow-x: hidden;
    overflow-y: hidden;
}*/

.aboutus {
    margin-left: 30px;
    display: inline-block;
}

.aboutus a {
    color: #fff;
    font-size: 16px;
}

.loginsucess {
    display: inline-block;
    float: right;
    margin: 15px -50px 0 0;
}

.loginsucess span {
    font-size: 16px;
    color: #fff;
    background-color: transparent !important;
    font-weight: 600;
    cursor: pointer;
}

.loginsucess div {
    background-color: transparent !important;
    color: white;
}

button[type="submit"]:disabled {
    background-color: #909090;
    color: #eaeaea;
}