.title {
    background-color: #074cff !important;
    color: #fff !important;
    font-size: 20px;
}

.posts {
    padding: 0px 20px 0 30px;
}

.titlepost {
    font-weight: bold;
    font-size: 20px;
}

.post span{
    margin: 5px 0 0 5px;
    display: block;
}

.svc {
    margin-top: 8px;
}

.svc:first-child {
    margin: 0;
}

.packname {
    font-weight: bold;
}

.panelHeight {
    height: 570px;
}

.deposit strong {
    color: red;
    font-size: 18px;
}

.note {
    font-weight: 600;
    padding: 30px;
    font-size: 16px;
}

.note i {
    font-size: 25px;
}