.layout-info {
    margin-left: 5px;
    background: linear-gradient(to right, #038ad1 0%, #25c4da 100%);
}

.btn-gr {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.change-layout {
    margin-top: 20px;
}

.userIF th {
    width: 13%;
}